* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)), url(../assets/fundo.png);
  background-size: cover;
  background-position: center;
}
.title {
  width: 100%;
  position: absolute;
  top: 18%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.home_button{
  width: 100%;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
}
.footer{
  width: 100%;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  text-align: right;
}
.logo {
  width: 500px;
  cursor: pointer;
}
.click_home{
  width: 220px;
  cursor: pointer;
}
.claquete {
  width: 400px;
}
.home_content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content {
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
button {
  width: 190px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 10px;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid #D1754C;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #D1754C;
  height: 100%;
  width: 0;
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.8s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
p {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
h1 {
  color: #D1754C;
}
.bonecos{
  width: 160px;
}
.radio_inline{
  display: inline-block;
}
