@tailwind base;
@tailwind utilities;
@tailwind components;

body{
    -webkit-font-smoothing: antialiased;
}

.input-range__slider {
  box-shadow: 1px 5px 12px;
  height: 2rem !important;
  width: 2rem !important;
  margin-top: -1.45rem !important;
}

.input-range__track {
  height: 0.8rem !important;
}

.input-range__label--min, .input-range__label--max{
  display: none !important;
  visibility: hidden !important;
}

.input-range__label--value{
  //font-weight: bold;
  margin-top: -1.05rem !important;
  margin-left: 0.5rem;
}